  html {
    min-height: 100%;
}
 
body {
    background: -webkit-linear-gradient(left, #1c87c9, #222222); 
    background: -o-linear-gradient(right, #1c87c9, #222222);
    background: -moz-linear-gradient(right, #1c87c9, #222222); 
    background: linear-gradient(to right, #1c87c9, #222222); 
    background-color: #222222; 
}