  html {
    min-height: 100%;
}

 
body {
    background: -webkit-linear-gradient(left, #1c87c9, #8dcff7); 
    background: -o-linear-gradient(right, #1c87c9, #8dcff7);
    background: -moz-linear-gradient(right, #1c87c9, #8dcff7); 
    background: linear-gradient(to right, #1c87c9, #8dcff7); 
    background-color: #8dcff7;

    margin-top: 5vw;
    margin-bottom: 10vw;
    margin-right: 10vw;
    margin-left: 10vw;
}
content {
  width: 80vw;
}


#div_bitcoin_price {
  text-align: right;
  margin-right: 2vw;
}
#btc_price {
  font-size: large;
}
#btcusd {
  font-size: large;
}
#btcusd_source {
  font-size: x-small;
}
code {
  background-color: aliceblue;
  font-weight: bold;
}