  html {
    min-height: 100%;
}
 
body {
    background: -webkit-linear-gradient(left, #8dcff7, #1c87c9); 
    background: -o-linear-gradient(right, #8dcff7, #1c87c9);
    background: -moz-linear-gradient(right, #8dcff7, #1c87c9); 
    background: linear-gradient(to right, #8dcff7, #1c87c9); 
    background-color: #8dcff7; 
}